{% extends "base.html" %}
{% load i18n crispy_forms_tags account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">{% trans "Sign In" %}</h3>

            <p class="text-center">
                Welcome to the 3yAGI Blog, where we explore the frontiers of Artificial General Intelligence (AGI). Engage with our
                community by logging in to share your insights. If you're new here, <a class="link text-primary"
                    href="{{ signup_url }}">join us</a> by creating an account and start contributing to the conversation around
                AGI's future.
            </p>

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}