{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 mb-5">
    <h2 class="mb-4">Admin Messages</h2>
    {% if contacts %}
    {% for contact in contacts %}
    <div class="card mb-3">
        <div class="card-header">
            {{ contact.name }} <span class="text-muted">- {{ contact.email }}</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">Subject: {{ contact.subject }}</h5>
            <p class="card-text">Message: {{ contact.message }}</p>
            <p class="card-text"><small class="text-muted">Created At: {{ contact.created_at }}</small></p>
        </div>
        <div class="card-footer bg-transparent">
            <form action="{% url 'delete_contact' contact.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No messages.</p>
    {% endif %}
</div>
{% endblock %}