:root {
    --primary-color: #003366;
    /* Dunkelblau */
    --accent-color: #E84610;
    /* Helle Akzentfarbe */
    --background-color: #F9FAFC;
    /* Helles Grau */
    --text-color: #4A4A4F;
    /* Dunkelgrau */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.brand {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.navbar {
    background-color: var(--primary-color);
    color: #ffffff;
}

.nav-link,
.navbar-brand,
.navbar-text {
    color: #ffffff;
}

.nav-link:hover {
    color: var(--accent-color);
    transition: color 0.3s ease;
    font-size: 1.1em;
    font-weight: bold;
}

.main-bg {
    background-color: var(--background-color);
}

.light-bg {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-bg {
    background-color: var(--primary-color);
    color: #ffffff;
}

.card {
    border: none;
    background-color: transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
    position: relative;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-size: 0.9em;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--primary-color);
    color: white;
    position: relative;
    padding: 10px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.post-image {
    width: 100%;
    /* passt die Breite an den Container an */
    height: auto;
    /* behält das Seitenverhältnis bei */
    max-width: 400px;
    /* maximale Breite des Bildes */
    display: block;
    /* verhindert unerwünschte Abstände unter dem Bild */
    margin: 0 auto;
    /* zentriert das Bild */
}

.post-link {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.post-link:hover {
    color: var(--accent-color);
}

.btn-signup,
.btn-edit {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-signup:hover {
    background-color: #fff;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.link,
.btn-like,
.btn-delete {
    color: var(--accent-color);
    transition: transform 0.2s ease;
}

.link:hover,
.btn-like:hover {
    transform: scale(1.1);
}

.btn-delete {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
}

.btn-delete:hover {
    background-color: darken(var(--accent-color), 10%);
}

.footer a {
    color: white;
    /* Sets the color of the icons to white */
    text-decoration: none;
    /* Removes the underline from the links */
}

.footer a:hover {
    color: #ccc;
    /* Optional: Changes the color when hovering over the icon */
}

/* FontAwesome Icon Adjustments */
.footer .fab {
    transition: color 0.3s ease;
    /* Smooth color transition for hover effect */
}

@media screen and (max-width: 768px) {
    .masthead {
        height: 20vh;
    }

    .brand {
        font-size: 1.2rem;
    }

    /* Weitere responsive Anpassungen */
}

a:focus,
button:focus {
    outline: 3px solid var(--accent-color);
    outline-offset: 2px;
}